<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/media/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/tracking.css">n
    <title>Current Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background: url('https://i.pinimg.com/736x/55/6c/33/556c3389f60b56c54fb0b22702e671b2.jpg'); background-size: cover;">
    <div class="max-w-7xl mx-auto bg-white rounded-lg shadow-md p-8">
        <div class="flex items-center justify-between mb-6">
            <h2 class="text-gray-500 font-semibold text-lg">Users</h2>
            <button 
                class="flex items-center gap-2 bg-lime-600 hover:bg-lime-500 text-white text-sm font-semibold px-4 py-2 rounded-full shadow-md transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
                <a href="{{url_for('permession_form_bp.permessions_form')}}">Create User</a>
            </button>
        </div>

        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search" onkeyup="filterTable()">
        </div>
        <div class="table-container">
            <table class="data-table" id="dataTable">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th>active</th>
                </tr>
            </thead>
            {% for record in data %}
            <tbody id="tablebody">
                <tr>
                    <td> {{ record.temp_user_id }}</td>
                    <td> {{ record.temp_user_fullname }} </td>
                    <td><span class="asset-type">{{ record.temp_user_email }}</span></td>
                    <td><span class="serial-number">{{ record.temp_user_Company }}</span></td>
                    <td>{{ record.temp_user_role }}</td>
                    <td class="toggle-container">
                      <label class="toggle-label">
                        <input type="checkbox" class="toggle-input" checked />
                        <div class="toggle-track"></div>
                        <span class="toggle-thumb"></span>
                      </label>
                  </td>
                </tr>
            {% endfor %} 
            </tbody>
            </table>
        </div>  
    <script>
        function filterTable() {
            const input = document.getElementById("searchInput");
            const filter = input.value.toLowerCase();
            const table = document.getElementById("dataTable");
            const rows = table.getElementsByTagName("tr");

            for (let i = 1; i < rows.length; i++) {
              const cells = rows[i].getElementsByTagName("td");
              let match = false;
            
              for (let j = 0; j < cells.length - 1; j++) {
                if (cells[j].textContent.toLowerCase().includes(filter)) {
                  match = true;
                  break;
                }
              }   
              rows[i].style.display = match ? "" : "none";
            }
        }
    </script>
</body>
</html>